<br>
<app-toggle-time-stamp [timestamp]="now"></app-toggle-time-stamp>
<br>
<br>
<app-toggle-time-stamp [timestamp]="yesterday"></app-toggle-time-stamp>
<br>
<br>
<app-toggle-time-stamp [timestamp]="lastMonth" [showTimeAgo]="true"></app-toggle-time-stamp>
<br>
<br>
<app-toggle-time-stamp [timestamp]="nextMonth"></app-toggle-time-stamp>
<br>
<br>
<app-toggle-time-stamp [timestamp]="nextYear" [showTimeAgo]="true"></app-toggle-time-stamp> 
<br>
<br>
<app-toggle-time-stamp [timestamp]="lastYear" [showTimeAgo]="true"></app-toggle-time-stamp> 

